/* layout */
* {
  /* width: 100%; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #00291b;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@media screen and (min-width: 450px) and (max-width: 1079px) {
  .layout-row {
    padding: 50px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header .logo {
    height: 48px;
    margin-left: 40px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
  }

  .nav-links.show {
    opacity: 1;
    pointer-events: all;
  }

  .nav-links a {
    margin: 30px auto;
  }

  .hamburger {
    font-size: 46px;
    margin-right: 40px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 11;
  }

  .hamburger.active {
    color: transparent;
  }

  .hamburger.active::before {
    content: "✕";
    color: black;
    position: fixed;
    font-size: 46px;
    user-select: none;
  }

  .card {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center */

    z-index: 5;
  }

  .background-image {
    position: absolute;
    z-index: 0;
    width: 100% !important;
    object-fit: contain;

    /* height: 100%; */
  }

  #background-image-1 {
    right: 0;
  }
  .row1 {
    background-image: url("../assets/img/Background\ SquiggliesSmall.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
  }

  .row1 .img-card {
    order: 1;
    width: 100%;
    height: auto;
  }

  .row1 .card:not(.img-card) {
    order: 2;
  }

  .row2 {
    background-color: #00291b;
    color: white;
  }

  .row2 .img-card {
    width: 100%;
    order: 1;
  }

  .row2 .card.card:not(.img-card) {
    order: 2;
  }

  .row2 .button {
    background-color: #d0ede4;
    color: #027753;
  }

  .row2 p {
    color: #fafcfc;
  }

  .row3 {
    padding: 0;
  }

  .row4 {
    padding: 0;
  }

  .row4 .img-card {
    order: 1;
  }

  .row4 .card:not(.img-card) {
    order: 2;
  }

  .row4 .button {
    background-color: #ffcebc;
    color: #4e3434;
  }

  .how-it-works-text {
    padding: 50px;
  }

  .vision2 {
    padding: 0;
  }

  .vision2 img {
    width: 100%;
  }
  .row3 .img-card {
    background-image: url("../assets/img/squigglegreen2.png");
    background-color: #eaf8f4;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
  }

  .row4 .img-card {
    background-image: url("../assets/img/Squiggles\ 3.png");
    background-color: #ffe6dd;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
  }

  .vision1 {
    background-color: #00291b;
    background-image: url("../assets/img/squiggles4small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: #ffdfd3;
    text-align: center;
    padding: 15%;
    width: 100%;
  }

  .vision1 .card-row {
    width: 100%;
    text-align: left;
  }

  .vision1 h2 {
    text-align: center;
    margin-top: 10px;
  }

  .vision2 {
    position: relative;
  }

  .vision2 img {
    height: 90vh;
    object-fit: none;
    margin-top: -20px;
  }

  .vision2 .pop-out {
    width: 90%;
    margin: -30% auto 20% auto;
    background-color: #d0ede4;
    color: #00452d;
    border-radius: 16px;
    padding: 20px;
    line-height: 1.5;
  }

  .pop-out p {
    font-size: 18px;
  }

  .pop-out strong {
    font-weight: 600;
  }

  .pop-out h3 {
    font-size: 20px;
    font-weight: 200;
  }

  .vision3 {
    padding: 15%;
  }

  .vision3 p {
    font-size: 18px;
  }

  .vision3 .bold-sentence {
    font-size: 20px;
  }

  .myth-busters {
    padding: 60px auto !important;
    text-align: center;
    background-color: #ffdfd3;
    color: #00291b;
  }

  .myth-busters h2 {
    margin-bottom: 10px;
  }

  .myth-busters-explanation {
    width: 90%;
    margin: auto;
  }

  .js-carousel-container {
    width: 100%;
  }

  /* Carousel */

  .js-card {
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 85vh;
    color: #00291d;
    width: 90%;
    margin: 30px auto 30px auto;
  }

  .js-card img {
    width: 100%;
    height: 180px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 17px;
    margin-bottom: 15px;
  }

  .js-card h3 {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 24px;
    letter-spacing: 5px;
    color: #34495e;
  }

  .js-card p {
    font-size: 22px;
    color: #34495e;
    flex-grow: 1; /* Pushes button to bottom */
    margin-bottom: 12px;
    margin-top: 2px;
    line-height: 1.5;
  }

  .myth-quote {
    font-size: 26px !important;
  }

  .js-card-button {
    display: inline-block;
    width: 130px;
    padding: 10px 18px;
    background-color: #d0ede4;
    color: #016143;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Stick to bottom */
    align-self: flex-start; /* Align button to the left */
  }

  .js-card-button:hover {
    background-color: #16a085;
  }

  .more-myths-button {
    display: none;
  }

  /* People */

  .people {
    background-color: #003a29;
    color: white;
    padding: 10% 5%;
  }

  .people img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    flex: 1;
  }

  .reena {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .reena img {
    height: 230px;
    width: 230px;
  }

  .reena-text {
    flex: 6;
  }

  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem auto;
    width: 100%;
  }

  .team h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
  }

  .team h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
  }

  .core h5 {
    text-align: center;
    font-size: 22px;
    margin: 5px;
  }

  .supporters h6 {
    text-align: center;
    font-size: 20px;
    margin: 5px;
  }

  .supporters p {
    text-align: center;
    font-size: 18px;
    font-weight: 50;
    margin: 5px auto;
  }

  .core p {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    margin: 0px;
  }

  .early .grid-item {
    flex: 1 0 calc(16.66% - 1rem); /* 4 per row, minus gap */
    max-width: calc(16.66% - 1rem);
    text-align: center;
  }

  .early p {
    font-size: 18px;
    text-align: center;
    padding: 3px;
    line-height: 1.8;
  }

  .grid-container img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .grid-item {
    flex: 1 0 calc(25% - 1rem); /* 4 per row, minus gap */
    max-width: calc(25% - 1rem);
    min-width: 200px;
    padding: 1rem;
    text-align: center;
  }
  .card h1,
  .card h2,
  .card p {
    margin: 20px 0px;
  }

  .img-card {
    text-align: center;
    position: relative;
    padding: 0px;
  }

  .img-card img {
    height: 60vh;
    width: auto;
    object-fit: contain;
  }

  .try-streetsmart {
    /* height: 40vh; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 80px auto 80px auto;
  }

  .try-streetsmart h2 {
    font-weight: 500;
  }

  footer {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../assets/img/squiggles5.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  footer .layout-row {
    margin: 10px auto;
    align-items: center;
  }

  .footer-image {
    justify-content: space-between;
    align-items: center;
    order: 2;
  }

  .footer-links {
    order: 1;
    text-align: center;
  }
  .footer-logo {
    width: 70%;
    margin: auto;
    object-fit: contain;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-links img {
    height: 56px;
    width: 56px;
  }

  .footer-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
  }

  .footer-links li {
    margin: 18px 0px;
    color: #00291b;
    font-size: 24px;
    order: 0;
  }

  .footer-links .linkedin {
    order: -1;
    margin-bottom: 80px;
  }

  footer p {
    width: 90%;
    text-align: center;
    margin: auto;
    font-size: 18px;
  }
  .card-full-line-wrapper {
    max-width: 800px;
    align-self: center;
  }

  .logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f2f6f5;
    color: #00291b; /* default text color */
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
  }

  .bold-font {
    font-weight: 700 !important;
  }

  .pre-header {
    font-weight: 200;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0 !important;
    opacity: 0.7;
  }

  h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 90%;
  }
  h2 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 400;
    letter-spacing: -2%;
  }

  .bold-sentence {
    font-size: 30px;
    font-weight: 500;
  }

  /* other nonsense */

  .button {
    display: inline-block;
    text-align: center;
    letter-spacing: inherit;
    margin: 0;
    padding: 12px 36px;
    vertical-align: middle;
    background: #37bb93;
    color: #016143;
    border: 0;
    border-radius: 12px;
    width: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }

  .background-image-city1 {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 100%), url("christine-qHb4vuseZBk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: #f2f6f5;
    min-height: 580px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1349px) {
  .layout-row {
    padding: 0 50px;
    margin: 0;
    display: flex;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header .logo {
    height: 48px;
    margin-left: 60px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    margin-right: 60px;
  }

  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }

  .card {
    flex-basis: auto;
    flex-grow: 1;
    width: 50%;

    /* for card as a parent */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center */

    z-index: 5;
  }

  .background-image {
    position: absolute;
    z-index: 0;
    width: 100% !important;
    height: 60vh;
    object-fit: contain;

    /* height: 100%; */
  }

  #background-image-1 {
    right: 0;
  }

  .demo-row {
    height: 60vh;
  }

  .row3 {
    padding: 0;
  }
  .row4 {
    padding: 0;
  }
  .row4 .button {
    background-color: #ffcebc;
    color: #4e3434;
  }

  .how-it-works-text {
    padding: 50px;
  }

  .row1 {
    background-image: url("../assets/img/Background\ Squigglies.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }

  .row2 {
    background-color: #00291b;
    color: white;
  }

  .row2 .img-card img {
    height: 60%;
  }

  .row2 p {
    color: #fafcfc;
  }

  .vision2 {
    padding: 0;
  }

  .vision2 img {
    width: 100%;
  }
  .row3 .img-card {
    background-image: url("../assets/img/squigglegreen2.png");
    background-color: #eaf8f4;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
  }

  .row4 .img-card {
    background-image: url("../assets/img/Squiggles\ 3.png");
    background-color: #ffe6dd;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
  }

  .vision1 {
    background-color: #00291b;
    background-image: url("../assets/img/Squiggles4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: #ffdfd3;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 15%;
    width: 100%;
  }

  .vision2 {
    position: relative;
  }

  .vision2 .pop-out {
    position: absolute;
    left: 5%;
    bottom: -8%;
    width: 33%;
    max-width: 700px;
    background-color: #d0ede4;
    color: #00452d;
    border-radius: 16px;
    padding: 20px;
  }

  .pop-out p {
    font-size: 16px;
  }

  .pop-out h3 {
    font-size: 20px;
  }

  .card-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    align-items: baseline;
  }

  .vision3 {
    padding: 15%;
  }

  .myth-busters {
    padding: 60px auto !important;
    text-align: center;
    background-color: #ffdfd3;
    color: #00291b;
  }

  .myth-busters h2 {
    margin-bottom: 10px;
  }

  .js-carousel-track {
    display: flex;
  }

  /* Carousel */

  .js-carousel-wrapper {
    width: 100%;
    margin: 50px auto;
    text-align: center;
  }

  .js-carousel-wrapper h2 {
    margin-bottom: 25px;
    color: #2c3e50;
    font-size: 2em;
  }

  .js-carousel-container {
    width: 100%;
    overflow: hidden;
  }

  .js-carousel-track {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .js-card {
    flex: 0 0 calc(100% / 2.8);
    min-width: calc(100% / 2.8);
    box-sizing: border-box;
    padding: 20px;
    margin-right: 15px; /* Space between cards */
    background-color: #ffffff;
    border-radius: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 85vh;
    color: #00291d;
  }

  .js-card:last-child {
    margin-right: 0; /* No margin for the last card in the track */
  }

  .js-card img {
    width: 100%;
    height: 180px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 17px;
    margin-bottom: 15px;
  }

  .js-card h3 {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    letter-spacing: 5px;
    color: #34495e;
  }

  .js-card p {
    font-size: 16px;
    color: #34495e;
    flex-grow: 1; /* Pushes button to bottom */
    margin-bottom: 20px;
    margin-top: 2px;
    line-height: 1.5;
  }

  .myth-quote {
    font-size: 22px !important;
  }

  .js-card-button {
    display: inline-block;
    width: 130px;
    padding: 10px 18px;
    background-color: #d0ede4;
    color: #016143;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Stick to bottom */
    align-self: flex-start; /* Align button to the left */
  }

  .js-card-button:hover {
    background-color: #16a085;
  }

  .more-myths-button {
    margin-top: 30px;
    width: 200px;
    padding: 12px 30px;
    font-size: 18px;
    color: #4e3434;
    background-color: #ffcebc;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }

  .more-myths-button:hover {
    background-color: #d1a99b;
  }
  .more-myths-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* People */

  .people {
    background-color: #003a29;
    color: white;
    padding: 10% 12%;
  }

  .people img {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    flex: 1;
  }

  .reena {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .reena-text {
    flex: 6;
  }

  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem auto;
    width: 100%;
  }

  .team h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
  }

  .team h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
  }

  .core h5 {
    text-align: center;
    font-size: 24px;
    margin: 5px;
  }

  .supporters h6 {
    text-align: center;
    font-size: 20px;
    margin: 5px;
  }

  .supporters p {
    text-align: center;
    font-size: 18px;
    font-weight: 50;
  }

  .core p {
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    margin: 0px;
  }

  .early .grid-item {
    flex: 1 0 calc(16.66% - 1rem); /* 4 per row, minus gap */
    max-width: calc(16.66% - 1rem);
    text-align: center;
  }

  .early p {
    font-size: 18px;
    text-align: center;
    padding: 3px;
    line-height: 1.8;
  }

  .grid-container img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .grid-item {
    flex: 1 0 calc(25% - 1rem); /* 4 per row, minus gap */
    max-width: calc(25% - 1rem);
    min-width: 200px;
    padding: 1rem;
    text-align: center;
  }
  .card h1,
  .card h2,
  .card p {
    margin: 0;
    margin-bottom: 25px;
  }

  .img-card {
    text-align: center;
    position: relative;
    padding: 0px;
  }

  .img-card img {
    height: 60vh;
    width: auto;
    object-fit: contain;
  }

  .try-streetsmart {
    /* height: 40vh; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 80px;
  }

  .try-streetsmart h2 {
    font-weight: 500;
  }

  .try-streetsmart p {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
  }

  footer {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../assets/img/squiggles5.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  footer .layout-row {
    margin: 10px auto;
  }

  .footer-image {
    flex: 6;
  }

  .footer-links {
    flex: 2;
  }
  .footer-logo {
    height: 100px;
    width: auto;
    object-fit: contain;
  }

  .footer-links img {
    height: 36px;
    width: 36px;
  }

  .footer-links ul {
    list-style: none;
  }

  .footer-links li {
    margin: 16px 0px;
    color: #00291b;
    font-size: 18px;
  }

  footer p {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 14px;
  }
  .card-full-line-wrapper {
    max-width: 800px;
    align-self: center;
  }

  .logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f2f6f5;
    color: #00291b; /* default text color */
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
  }

  .bold-font {
    font-weight: 700 !important;
  }

  .pre-header {
    font-weight: 700;
    letter-spacing: 38%;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0 !important;
  }

  h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 90%;
  }
  h2 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 400;
    letter-spacing: -2%;
  }

  .bold-sentence {
    font-size: 30px;
    font-weight: 500;
  }

  /* other nonsense */

  .button {
    display: inline-block;
    text-align: center;
    letter-spacing: inherit;
    margin: 0;
    padding: 12px 36px;
    vertical-align: middle;
    background: #37bb93;
    color: #016143;
    border: 0;
    border-radius: 50px;
    width: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }

  .background-image-city1 {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 100%), url("christine-qHb4vuseZBk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: #f2f6f5;
    min-height: 580px;
  }
}
@media screen and (min-width: 1350px) {
  .layout-row {
    padding: 0 50px;
    margin: 0;
    display: flex;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header .logo {
    height: 48px;
    margin-left: 60px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 16px;
    margin-right: 60px;
  }

  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }

  .card {
    /* for card as a child */
    flex-basis: 200px;
    flex-grow: 1;
    /* padding: 40px; */
    /* min-width: 410px; */

    /* for card as a parent */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center */

    z-index: 5;
  }

  .background-image {
    position: absolute;
    z-index: 0;
    width: 100% !important;
    height: 80vh;
    object-fit: contain;

    /* height: 100%; */
  }

  #background-image-1 {
    right: 0;
  }

  .demo-row {
    height: 80vh;
  }

  .row3 {
    padding: 0;
  }
  .row4 {
    padding: 0;
  }

  .row4 .button {
    background-color: #ffcebc;
    color: #4e3434;
  }

  .how-it-works-text {
    padding: 50px;
  }

  .row1 {
    background-image: url("../assets/img/Background\ Squigglies.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }

  .row2 {
    background-color: #00291b;
    color: white;
  }

  .row2 .img-card img {
    height: 80%;
  }

  .row2 p {
    color: #fafcfc;
  }

  .vision2 {
    padding: 0;
  }

  .vision2 img {
    width: 100%;
  }
  .row3 .img-card {
    background-image: url("../assets/img/squigglegreen2.png");
    background-color: #eaf8f4;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
  }

  .row4 .img-card {
    background-image: url("../assets/img/Squiggles\ 3.png");
    background-color: #ffe6dd;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
  }

  .vision1 {
    background-color: #00291b;
    background-image: url("../assets/img/Squiggles4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: #ffdfd3;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 15%;
    width: 100%;
  }

  .vision2 {
    position: relative;
  }

  .vision2 .pop-out {
    position: absolute;
    left: 5%;
    bottom: -8%;
    width: 33%;
    max-width: 700px;
    background-color: #d0ede4;
    color: #00452d;
    border-radius: 16px;
    padding: 20px;
  }

  .card-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    align-items: baseline;
  }

  .vision3 {
    padding: 15%;
  }

  .myth-busters {
    padding: 60px auto !important;
    text-align: center;
    background-color: #ffdfd3;
    color: #00291b;
  }

  .myth-busters h2 {
    margin-bottom: 10px;
  }

  .js-carousel-track {
    display: flex;
  }

  /* Carousel */

  .js-carousel-wrapper {
    width: 100%;
    margin: 50px auto;
    text-align: center;
  }

  .js-carousel-wrapper h2 {
    margin-bottom: 25px;
    color: #2c3e50;
    font-size: 2em;
  }

  .js-carousel-container {
    width: 100%;
    overflow: hidden;
  }

  .js-carousel-track {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .js-card {
    flex: 0 0 calc(100% / 2.8);
    min-width: calc(100% / 2.8);
    box-sizing: border-box;
    padding: 20px;
    margin-right: 15px; /* Space between cards */
    background-color: #ffffff;
    border-radius: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 85vh;
    color: #00291d;
  }

  .js-card:last-child {
    margin-right: 0; /* No margin for the last card in the track */
  }

  .js-card img {
    width: 100%;
    height: 180px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 17px;
    margin-bottom: 15px;
  }

  .js-card h3 {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 25px;
    letter-spacing: 5px;
    color: #34495e;
  }

  .js-card p {
    font-size: 20px;
    color: #34495e;
    flex-grow: 1; /* Pushes button to bottom */
    margin-bottom: 20px;
    margin-top: 2px;
    line-height: 1.5;
  }

  .myth-quote {
    font-size: 30px !important;
  }

  .js-card-button {
    display: inline-block;
    width: 130px;
    padding: 10px 18px;
    background-color: #d0ede4;
    color: #016143;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Stick to bottom */
    align-self: flex-start; /* Align button to the left */
  }

  .js-card-button:hover {
    background-color: #16a085;
  }

  .more-myths-button {
    margin-top: 30px;
    width: 200px;
    padding: 12px 30px;
    font-size: 18px;
    color: #4e3434;
    background-color: #ffcebc;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
  }

  .more-myths-button:hover {
    background-color: #d1a99b;
  }
  .more-myths-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* People */

  .people {
    background-color: #003a29;
    color: white;
    padding: 10% 12%;
  }

  .people img {
    height: 185px;
    width: 185px;
    border-radius: 50%;
    flex: 1;
  }

  .reena {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .reena-text {
    flex: 6;
  }

  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem auto;
    width: 100%;
  }

  .team h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
  }

  .team h4 {
    text-align: center;
    font-size: 32px;
    font-weight: 200;
  }

  .core h5 {
    text-align: center;
    font-size: 24px;
    margin: 5px;
  }

  .supporters h6 {
    text-align: center;
    font-size: 20px;
    margin: 5px;
  }

  .supporters p {
    text-align: center;
    font-size: 18px;
    font-weight: 50;
  }

  .core p {
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    margin: 0px;
  }

  .early .grid-item {
    flex: 1 0 calc(16.66% - 1rem); /* 4 per row, minus gap */
    max-width: calc(16.66% - 1rem);
    text-align: center;
  }

  .early p {
    font-size: 18px;
    text-align: center;
    padding: 3px;
    line-height: 1.8;
  }

  .grid-container img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .grid-item {
    flex: 1 0 calc(25% - 1rem); /* 4 per row, minus gap */
    max-width: calc(25% - 1rem);
    min-width: 200px;
    padding: 1rem;
    text-align: center;
  }
  .card h1,
  .card h2,
  .card p {
    margin: 0;
    margin-bottom: 25px;
  }

  .img-card {
    text-align: center;
    position: relative;
    padding: 0px;
  }

  .img-card img {
    height: 80vh;
    width: auto;
    object-fit: contain;
  }

  .try-streetsmart {
    /* height: 40vh; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 80px;
  }

  .try-streetsmart h2 {
    font-weight: 500;
  }

  .try-streetsmart p {
    width: 50%;
    margin: auto;
    margin-bottom: 60px;
  }

  footer {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../assets/img/squiggles5.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  footer .layout-row {
    margin: 10px auto;
  }

  .footer-image {
    flex: 6;
  }

  .footer-links {
    flex: 1;
  }
  .footer-logo {
    height: 154px;
    width: auto;
    object-fit: contain;
  }

  .footer-links img {
    height: 48px;
    width: 48px;
  }

  .footer-links ul {
    list-style: none;
  }

  .footer-links li {
    margin: 16px 0px;
    color: #00291b;
  }

  footer p {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 18px;
  }
  .card-full-line-wrapper {
    max-width: 800px;
    align-self: center;
  }

  .logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }

  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #f2f6f5;
    color: #00291b; /* default text color */
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
  }

  .bold-font {
    font-weight: 700 !important;
  }

  .pre-header {
    font-weight: 700;
    letter-spacing: 38%;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0 !important;
  }

  h1 {
    font-size: 100px;
    font-weight: 400;
    line-height: 90%;
  }
  h2 {
    font-size: 64px;
    line-height: 68px;
    font-weight: 400;
    letter-spacing: -2%;
  }

  .bold-sentence {
    font-size: 30px;
    font-weight: 500;
  }

  /* other nonsense */

  .button {
    display: inline-block;
    text-align: center;
    letter-spacing: inherit;
    margin: 0;
    padding: 12px 36px;
    vertical-align: middle;
    background: #37bb93;
    color: #016143;
    border: 0;
    border-radius: 50px;
    width: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }

  .background-image-city1 {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 100%), url("christine-qHb4vuseZBk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    color: #f2f6f5;
    min-height: 580px;
  }
}
